<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6 offset-lg-3">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Ecommerce Test Project</h4>
                  </div>
  
                  
                    <p>Please login to your account</p>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Email address</label>
                      <input type="email" id="form2Example11" class="form-control"
                      [(ngModel)]="loginRequest.emailId"
                        placeholder="Phone number or email address" />
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" id="form2Example22" class="form-control"
                      [(ngModel)]="loginRequest.password" />
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="onLogin()">Login</button>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2 mr-3">Don't have an account?</p>
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Create new</button>
                    </div>

  
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>